# ===== Visual Studio =====
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Build results =====
bin/
obj/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

# ===== Logs =====
*.log

# ===== NuGet =====
packages/
*.nupkg

# ===== Rider / VS Code =====
.idea/
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Temporary files =====
*.tmp
*.temp
